<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="search-bar">
            <form class="search-bar" action="/post/search" method="GET" enctype="application/x-www-form-urlencoded">
                <input id="search-text" class="search-text" name="searchValue" type="text" />
                <button type="submit" class="search-button fas fa-search">Search</button>
            </form>

        </li>
        {{#if isLoggedIn}}
        <li><a href="/users/postvideo">Post Video</a></li>
        {{!-- <li><a href="/users/viewpost/{{user.userId}}">View Post</a></li> --}}
        <li><a href='/users/profile/{{user.userId}}'>Profile</a></li>
        {{> logout}}

        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/registration">Registration</a></li>
        {{/if}}


    </ul>
</nav>