<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <script defer src="/public/js/index.js"></script>
  <title>Home</title>
</head>

<body>
  <div id="container">
    {{#if (nonEmptyObject messages) }}
      {{> flashmessage this}}
    {{/if}}
    
    {{>header}}
    {{>nav}}
    {{{body}}}
    {{>footer}}
  </div>
</body>

</html>