<main>

    <video autoplay muted loop width="100%">
        <source src="/public/html/LoginVid.mp4" type="video/mp4">
    </video>

    <form class="login-registration-form" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
        <h3>Login Form</h3>

        <div class="input-fields">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">

            <div class="submit-button">
                <input type="submit" value="Log in">

            </div>

        </div>

    </form>


</main>
