<h2>Profile</h2>

<div class="Username">{{user.username}}</div>
<div class="Email">{{user.email}}</div>

<section>
    <h2>Post made</h2>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</section>
