<main>
    <h2>View Post</h2>

    <div class="Post Title">Title</div>
    <video width="320" height="240" controls src="/public/html/sample-5s.mp4" type="Video/mp4"></video>

    <div class="Post author"> Author </div>
    <div class="Post creation time"> Creation Time </div>

    <section>
        <h2>Comment section</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>


</main>
