:root{
  --footer-header-bg: black;
  --text-color:white;

}

*
*::after,
*::before{
  box-sizing: border-box;

}

html {
  font-size: 100%;
  font-family:Arial, Helvetica, sans-serif;

}

.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  opacity: 1;

}

.photo-card {
  transition: opacity 1s;
}



/*.main-welcome {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  padding: 20px;
} */

.login-registration-form{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}

.input-fields {
  display: grid;
  grid-auto-flow: row;
  width: fit-content;
  gap: 4px;
  
}

body {
  background-color: whitesmoke;

}

nav ul{
  display: grid;
  grid-auto-flow: column;
  list-style: none;

}

ul li a{
  color: var(--text-color);

}



.check-boxes{
  margin: 8px 0px;


}

.check-boxes label a{
  color:blue;


} 

.submit-button {
  width: fit-content;
  box-shadow: -2px 4px 4px black;

}


.site-footer {
  color: var(--text-color);
  background-color: var(--footer-header-bg);
  text-align: center;
  margin: 8px 0px;
  padding: 8px;
  font-size: 1.2rem;
}

h1{
  color: var(--text-color);

}

header{
  background-color: var(--footer-header-bg);   
  
}


